.sectionServicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white url("../img/fondoverdeazulado.jpg") no-repeat center center;
  background-size: cover; }
  .sectionServicios__title {
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 10px; }
  .sectionServicios__subtitle {
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 5px black;
    margin-top: 10px; }
  .sectionServicios__content {
    display: flex;
    justify-content: center;
    align-items: top; }
    .sectionServicios__content__contenedor {
      font-size: 20px;
      color: white;
      text-shadow: 2px 2px 5px black;
      width: 20%; }
      .sectionServicios__content__contenedor__img {
        display: flex;
        justify-content: center;
        height: 200px; }
        .sectionServicios__content__contenedor__img__logo {
          height: 100%; }
      .sectionServicios__content__contenedor__title {
        text-align: center; }
